body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.node {
  width: 220px;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  background: #1C2536;
  color: white;
  font-size: 13px;
}

.node-title {
  font-weight: 'bold';
  margin-bottom: 8;
}

.node-fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.node-select-box {
  display: 'flex';
  flex-direction: 'column';
  margin-bottom: '12px';
}

.node-select-title {
  font-weight: 'bold';
  margin-bottom: '4px';
}

.node-select {
  padding: '6px 10px';
  border-radius: '6px';
  border: '1px solid #ccc';
  background-color: '#f9f9f9';
  font-size: '14px';
}

.node-text {
  margin-left: '6px';
  padding: '6px 10px';
  border-radius: '6px';
  border: '1px solid #ccc';
  background-color: '#f9f9f9';
  font-size: '12px';
}

.handle {
  background: '#555'
}

.handle_top {
  top: calc(100% / 3) !important;
}

.handle_below {
  top: calc(200% / 3) !important;
}